@font-face {
	font-family: 'StandardCTStencil-Bold';
	src: url('./fonts/standardctstencil-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/standardctstencil-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/standardctstencil-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/standardctstencil-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/standardctstencil-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/standardctstencil-bold.svg#standardctstencil-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

:root {
  --text-color: #fff;
  --secondary-text-color: #8F9399;
  --bg-color: #1F2229;
  --border-color: #383D4A;
  --highlight-color: #48CCFD;
  --font-primary: "Inter", sans-serif;
  --font-secondary: 'StandardCTStencil-Bold', sans-serif;
  --container-width: 1116px;
  --border-radius: 48px;
  --section-padding: 148px;
  --gap-large: 130px;
  --gap-medium: 56px;
  --gap-small: 8px;
}

a{
  color: inherit;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  line-height: 1.5;
  font-size: clamp(18px, 2.5vw, 20px);
  margin: 0;
}

h2{
  font-size: clamp(24px, 2.5vw, 40px);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid var(--border-color);
  padding: 0 30px;
}

.header__location{
  display: flex;
  align-items: center;
}

.container{
  max-inline-size: var(--container-width);
  margin-inline: auto;
}

.info-block{
  display: flex;
  justify-content: space-between;
  align-items:start;
  margin-top: 60px;
}

.info-block__image, .call-to-action__image {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.info-block__text h1{
  font-family: var(--font-secondary);
  font-size: clamp(36px, 5vw, 68px);
  text-transform: uppercase;
  line-height: 100%;
}


span{
  color: var(--highlight-color);
}

button{
  border-radius: var(--border-radius);
  padding: 11px 40px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
}

.features{
  padding-block: var(--section-padding);
}

.features__text{
  width: 59%;
}

.features__list{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  margin-top: 40px;
  justify-items: stretch;
}

.features__item{
  display: flex;
  gap: 16px;
}

.promo{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  column-gap: var(--gap-large);
}

.promo__form{
  margin-top: 70px;
}

.promo__steps{
  grid-row: span 2;
}

.step{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 24px;
}

input[type="tel"]{
  background-color: inherit;
  border: 0;
  border-block-end: 1px solid var(--text-color);
  width: 100%;
}

input[type="checkbox"] {
  appearance: none; 
  width: 24px;
  height: 24px;
  background-color: transparent; 
  border: 2px solid var(--text-color);
  flex-shrink: 0; 
  display: inline-block;
}

input[type="checkbox"]:checked {
  background-color: transparent; 
  background-image: url("./img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px; 
}

.telephone, .copyright-chulakov p{
  color: var(--secondary-text-color);
  font-size: 13px;
}

.form__agree{
  display: flex;
  gap: var(--gap-small);
  margin-top: 24px;
  margin-bottom: 32px;
}

.form__agree label{
  font-size: 16px;
}

.call-to-action{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: start;
  justify-items: start;
  column-gap: 118px;
  margin: 147px 0;
}

.call-to-action__right-block{
  grid-row: span 2;
}

.footer__links{
  border-bottom: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}

.conditions{
  display: flex;
  gap: 8px;
}

.copyright-tele2, .copyright-chulakov{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.copyright-tele2 p{
  color: var(--secondary-text-color);
  font-size: 16px;
}

.social img{
  margin-right: 16px;
}
@media (max-width: 768px) {
  :root {
    --container-width: 100%;
    --border-radius: 24px;
    --header-padding: 15px;
    --section-padding: 80px;
    --gap-large: 50px;
    --gap-medium: 30px;
    --gap-small: 16px;
  }

  .container {
    padding: var(--header-padding);
  }

  .header {
    gap: var(--gap-small);
  }

  .info-block {
    flex-direction: column;
  }

  .features {
    padding-block: var(--section-padding);
    display: flex;
    flex-direction: column;
  }

  .features h2{
    margin: 0;
  }

  .features__text{
      width: 100%;
  }
  
  .features__list{
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
  }

  .features__item{
    justify-content: start;
    gap: var(--gap-small);
    width: 100%;
  }

  .promo {
    display: flex;
    flex-direction: column;
  }

  .promo button{
    display: block; 
    margin: 0 auto;
  }

  .step{
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .copyright-chulakov{
    display: none;
  }
}