@font-face {
	font-family: 'StandardCTStencil-Bold';
	src: url('./fonts/standardctstencil-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/standardctstencil-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/standardctstencil-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/standardctstencil-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/standardctstencil-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/standardctstencil-bold.svg#standardctstencil-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

:root {
  --text-color: #fff;
  --secondary-text-color: #8F9399;
  --success-text-color: #07CB5C;
  --error-text-color: #FF4D6C;
  --bg-color: #1F2229;
  --border-color: #383D4A;
  --highlight-color: #48CCFD;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lato", sans-serif;
  --font-highlight: 'StandardCTStencil-Bold', sans-serif;
  --container-width: 1116px;
  --border-radius: 48px;
  --section-padding: 148px;
  --gap-large: 132px;
  --gap-medium: 56px;
  --gap-small: 8px;
}

a{
  color: inherit;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  line-height: 1.5;
  font-size: clamp(18px, 2.5vw, 20px);
  margin: 0;
}

h2{
  font-family: var(--font-secondary);
  font-size: clamp(24px, 2.5vw, 40px);
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid var(--border-color);
  padding: 0 30px;
}

.header__location{
  display: flex;
  align-items: center;
}

.header__location:hover, .logo:hover, button:hover, 
.social img:hover, .footer__copyright img:hover, 
.city-selector__item:hover, .conditions p:hover{
  opacity: 0.7;
  cursor: pointer;
}

.container{
  max-inline-size: var(--container-width);
  margin-inline: auto;
}

.info-block{
  display: flex;
  justify-content: space-between;
  align-items:start;
  margin-top: 56px;
}

.info-block__image{
  object-fit: cover; 
}

.info-block__text h1{
  font-family: var(--font-highlight);
  font-size: clamp(36px, 5vw, 68px);
  text-transform: uppercase;
  line-height: 100%;
  margin-top: 48px;
  margin-bottom: 24px;
}

#open-modal{
  margin-top: 56px;
}

span{
  color: var(--highlight-color);
}

button{
  border-radius: var(--border-radius);
  padding: 11px 40px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color:#000;
}

button:focus{
  outline: 2px solid #000;
}

button:active {
  transform: scale(0.95); 
}

.features, .call-to-action{
  padding-block: var(--section-padding);
}

.features__text{
  width: 59%;
}

.features__list{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  margin-top: 40px;
  justify-items: stretch;
}

.features__item{
  display: flex;
  gap: 16px;
}

.promo{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  column-gap: var(--gap-large);
  
}

.promo__form{
  margin-top: 20px;
}

.modal__form{
  margin: 0px;
}

#submit-btn{
  margin-top: 20px;
}

#checked-message{
  color: var(--error-text-color);
}

.promo__steps{
  grid-row: span 2;
}

.promo__step{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

input[type="tel"]{
  background-color: inherit;
  border: 0;
  border-block-end: 1px solid var(--text-color);
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
}

input[type="checkbox"] {
  appearance: none; 
  width: 24px;
  height: 24px;
  background-color: transparent; 
  border: 2px solid var(--text-color);
  flex-shrink: 0; 
  display: inline-block;
}

input[type="checkbox"]:checked {
  background-color: transparent; 
  background-image: url("./img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px; 
}

.telephone, .copyright-chulakov p{
  color: var(--secondary-text-color);
  font-size: 13px;
}

.form__agree{
  display: flex;
  gap: var(--gap-small);
  margin-top: 24px;
  margin-bottom: 32px;
}

.form__agree label{
  font-size: 16px;
}

.call-to-action{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  align-items: center;
  justify-items: start;
  column-gap: 118px;
}

.call-to-action__right-block{
  grid-row: span 2;
}

.footer__links{
  border-bottom: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social img, .footer__copyright img{
  cursor: pointer;
}

.footer__copyright{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0;
}

.conditions{
  display: flex;
  gap: 8px;
}

.conditions p{
  font-size: 16px;
}

.copyright-tele2, .copyright-chulakov{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.copyright-tele2 p{
  color: var(--secondary-text-color);
  font-size: 16px;
}

.social img{
  margin-right: 16px;
}

.city-selector {
	position: fixed;
	top: 100px;
	left: 0;
  right: 0;
  width: 100%;
  height: 100%;
	z-index: 2000;
  opacity: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  margin: auto 0;
}

.city-selector[open] {
  opacity: 1;
  transform: translateY(0);
}

.city-selector__list{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 90px;
  row-gap: 24px;
  margin-top: 64px;
}

#modal{
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
}

.message{
  font-size: 13px;
  color:(var(--text-color))
}

#response-message{
  display: none;
  background-color: #262B36;
  border-radius: 8px;
  font-size: 13px;
  padding: 12px;
  margin-top: 48px;
}

#checked-message-form{
  margin-bottom: 10px;
}

.back-to-top__button{
  text-align: center;
}

#back-to-top{
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  :root {
    --container-width: 100%;
    --container-padding: 16px;
    --section-padding: 72px;
    --margin-large: 48px;
    --margin-medium: 40px;
    --margin-small: 32px;
  }

  .container {
    padding: var(--container-padding);
  }

  .info-block__image{
    object-fit: cover;
    margin-top: var(--margin-large);
  }

  .header {
    gap: 16px;
  }

  .info-block {
    flex-direction: column;
    padding: 24px 0;
    margin: 0;
    margin-bottom: var(--margin-large);
  }

  .features {
    padding-block: var(--section-padding);
    display: flex;
    flex-direction: column;
  }

  .features h2{
      margin: 0;
  }

  .features__text{
      width: 100%;
  }
  
  .features__list{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .features__item{
    justify-content: start;
    gap: 16px;
    width: 100%;
  }

  .promo {
    display: flex;
    flex-direction: column;
  }

  .promo h2{
    margin-bottom: var(--margin-medium);
  }

  .promo button{
    display: block; 
    margin: 0 auto;
  }

  .promo__step{
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .call-to-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-medium);
  }

  .copyright-chulakov{
    display: none;
  }

  .city-selector__list{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 90px;
    row-gap: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px){
  :root {
    --container-padding: 0 40px;
    --gap: 30px;
    --section-padding: 74px;
  }

  .container {
    max-width: 90%;
    padding: var(--header-padding);
  }

  .info-block {
    flex-direction: column;
    text-align: center;
  }

  .info-block__text, .info-block__image{
    margin: 0 auto;
  }

  .promo {
    display: flex;
    flex-direction: column;
  }

  .features__list{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
  }

  .features__text{
    width: 100%;
  }

  .features__item{
    justify-content: start;
    width: 100%;
    gap: var(--gap);
  }

  .features, .call-to-action{
    padding-block: var(--section-padding);
  }

  .promo__step{
    justify-content: flex-start;
  }
}